@import "tailwindcss";
body{
    background-color: #151515;
}
@font-face {
    font-family: 'Product Sans';
    src: url(assets/Product\ Sans\ Bold.ttf);
}
*{
    font-family: 'Product Sans', sans-serif;
    scroll-behavior: smooth;
}
/* Add this in your CSS file, or inline style if using CSS-in-JS */
::selection {
    background-color: #ffd21c; /* Background color of the selection */
    color: #000; /* Color of the selected text */
  }
  