.banner{
    background-image: url('../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-heading{
    letter-spacing: -5px;
}
.fact{
    background-image: url('../../assets/fact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    }

    @media screen and (max-width: 576px) {
        .banner-heading {
            letter-spacing: -3px;
        }
    }
.linear{
    background: linear-gradient(90deg, #1C1C1C 0%, rgba(115, 115, 115, 0.21) 100%);
}
.fact-text{
    letter-spacing: -1px;
}