.banner{
    background-image: url('../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-heading{
    letter-spacing: -5px;
}
.fact{
    background-image: url('../../assets/fact.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    }

    @media screen and (max-width: 576px) {
        .banner-heading {
            letter-spacing: 3px;
        }
    }